.btn-primary{
	background-color: #55447F;
}
.bg-purple{
	background-color: #3A1E7F;
}
.form-box{
	border-style: solid;
	border-width: 2px;
	border-color: black;
	float: right;
}
.masthead-masthead2{
	margin-left: auto;
	margin-right: auto;
	width:
	background-position:center;

	


}
.masthead{
	background-position: top;
}

.masthead{

}
.border-big{
border-style: dotted;
border-width: 6px;
border-color: #43227f;
padding: 20px;
}